.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
.texto{
	text-align: center;
}
.foto{
	width: 200px;
	height: 275px;
}
.titulo{
	color: white;
	text-align: center;
	border: solid white 4px;
	font-family: Times New Roman;
}
.sub{
	color: gray;
	font-size: 25px;
	padding-left: 50px;
	padding-top: 20px;
	font-family: Times New Roman;
}
.datos{
	color: silver;
	font-size: 30px;
}
.segundo{
	background-color: #282850;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0;
	width: 100%;
	height: auto;
}
.tercero{
	background-color: #3B83BD;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0;
	width: 100%;
	height: auto;	
}
.desc{
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
	color: silver;
	font-family: Times New Roman;
}
.ti{
	color: white;
	text-align: center;
	padding-top: 20px;
	font-family: Times New Roman;
}
.link{
	color: white;
	font-size: 25px;
	text-align: center;
	width: auto;
}
.cuarto{
	background-color: white;
	width: 100%;
	height: auto;
}
.contacto{
	width: 40px;
}
.proyectos{
	border-radius: 200px;
	width: 200px;
	height: auto;
}
.descripcion{
	text-align: center;
	font: message-box;
	color: white;
	font-size: 18px;
	border: solid white 3px;
	width: auto;
}
.center{
	text-align: center;
}
.proyectos-app{
}