.titulo{
	background-image: url("../images/fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0;
	width: 100%;
	height: 400px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
.segundo{
	background-color: ;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0;
	width: 100%;
	height: 400px;
}
.tercero{
	background-color: ;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 0;
	width: 100%;
	height: 400px;	
}